<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="someLocale" class="java.util.Locale" factory-method="getDefault"></bean>
	<bean id="someUser" class="springtutorial.User">
		<constructor-arg value="jan"></constructor-arg>
		<constructor-arg value="23"></constructor-arg>
		<constructor-arg ref="someLocale"></constructor-arg>
	</bean>

	<bean id="someBean" class="springtutorial.SomeBean">
		<property name="user" ref="someUser"></property>
		<property name="stringValue" value="some string value"></property>
		<property name="intValue" value="100"></property>
	</bean>
	<bean id="someUser2" class="springtutorial.User" c:name="janek"
		c:age="21" c:locale-ref="someLocale"></bean>
	<bean id="someBean2" class="springtutorial.SomeBean"
		p:stringValue="jakiś string" p:intValue="22" p:user-ref="someUser2"></bean>
</beans>
